/* #region Common */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Ubuntu;
}

:root {
    --discord-primary: rgba(49, 97, 224, 1);
    --discord-secondary: rgba(35, 39, 42, 1);
    --discord-head-txt: rgba(249, 250, 254, 1);
    --discord-foot-txt: rgba(114, 137, 218, 1);
    --discord-bttn: rgba(142, 161, 225, 1);
}

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: auto;
    width: 80%;
    max-width: 1200px;
    height: 100%;
}

ul {
    list-style: none;
    color: var(--discord-head-txt);
}

li {
    padding: 0.5rem;
}

.button {
    padding: 0.8rem;
    border-radius: 20px;
    text-align: center;
    border: none;
    font-weight: bold;
}

/* #endregion Common */

/* #region Header */
.site-header {
    background-color: var(--discord-primary);
}

.login {
    background-color: white;

    flex-grow: 1;
}

.logo {
    flex-grow: 1;
}


.nav-link {
    text-decoration: none;
    color: var(--discord-head-txt);
}
/* #endregion Header */

/* #region Main */

/* #region Banner section */
.banner {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


}

.ban.container {
    text-align: center;
    color: white;
    padding-top: 4rem;
    padding-bottom: 4rem;
    width: 50%;
}

.ban.container>p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.ban-open {
    background-color: var(--discord-secondary);
    color: white;
}

.bttn.d-flex {
    justify-content: space-evenly;
}
/* #endregion Banner section */



.blue {
    background-color: blue;
    width: 40rem;
    height: 20rem;
    border: 1px dashed black;
}

.pink {
    background-color: pink;
    width: 20rem;
    height: 20rem;
    border: 1px dashed black;
}

.thrd.container {
    background-color: lightgray;
}

.green {
    background-color: darkgreen;
    width: 60rem;
    height: 40rem;
}
/* #endregion Main */

.frst-foot-container {
    background-color: rgb(31, 30, 30);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    margin: auto;
}

.dark-pink {
    background-color: rgb(175, 71, 88);
    width: 20rem;
    height: 15rem;
    border: 1px dashed black;
}

.light-blue {
    background-color: lightblue;
    width: 10rem;
    height: 15rem;
    border: 1px dashed white;
}

.last-foot-container {
    background-color: rgb(31, 30, 30);
    padding-top: 0.8rem;
    margin: auto;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.button-container {
    background-color: aqua;
    width: 60rem;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin: auto;
}

