/* #region Common */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Ubuntu;
}

:root {
    --discord-primary: rgba(49, 97, 224, 1);
    --discord-secondary: rgba(35, 39, 42, 1);
    --discord-head-txt: rgba(249, 250, 254, 1);
    --discord-foot-txt: rgba(114, 137, 218, 1);
    --discord-bttn: rgba(142, 161, 225, 1);
}

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: auto;
    width: 80%;
    max-width: 1200px;
    height: 100%;
}

ul {
    list-style: none;
    color: var(--discord-head-txt);
}

li {
    padding: 0.5rem;
}

button {
    padding: 0.8rem;
    border-radius: 20px;
    text-align: center;
    border: none;
    font-weight: bold;
}

p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2.5rem;
    font-weight: bolder;
    margin-bottom: 2rem;
}


.site-footer {
    background-color: var(--discord-secondary);
}

/* #endregion Common */

/* #region Header */
.site-header {
    background-color: var(--discord-primary);
}

.login {
    background-color: white;

    flex-grow: 1;
}

.logo {
    flex-grow: 1;
}


.nav-link {
    text-decoration: none;
    color: var(--discord-head-txt);
}

/* #endregion Header */

/* #region Main */

/* #region Banner section */
.banner {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


}

.ban.container {
    text-align: center;
    color: white;
    padding-top: 4rem;
    padding-bottom: 4rem;
    width: 50%;
}



.ban-open {
    background-color: var(--discord-secondary);
    color: white;
}

.bttn.d-flex {
    justify-content: space-evenly;
}

/* #endregion Banner section */

.invite {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.invite-img {
    margin-right: 2rem;
}


.wave-img-top {
    width: 100%;
}

.wave-img-bottom {
    width: 100%;
    rotate: 200grad;
}

.meeting {
    background-color: rgba(246, 246, 246, 1);
}

.contact {
    text-align: center;
    margin: auto;
    background-color: rgba(246, 246, 246, 1);
}

.button.download {
    margin-top: 2rem;
}

.download {
    background-color: var(--discord-bttn);
    color: white;
}


.start-adventure {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.star {
    width: 40%;
}

/* #endregion Main */

/* #region Footer */
.site-footer {
    padding-top: 3rem;
}

.top-footer {
    justify-content: normal;
    align-items: normal;
}

.social h3 {
    font-size: 1.5rem;
    font-weight: bolder;
}

.social {
    width: 25%;
}

.site-footer h3 {
    color: var(--discord-foot-txt);
}

.ita-img {
    width: 1rem;

}

.ita-txt {
    font-size: smaller;
    color: white;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

.icons {
    width: 60%;
}

svg {
    width: 1rem;
    margin: auto;
}

.grow {
    flex-grow: 1;
}

.bottom-footer{
    border-top: 1px solid var(--discord-foot-txt);
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.sign-up{
    background-color: var(--discord-bttn);
    color: white;
}
/* #endregion Footer */